
{% extends 'base.html' %}

{% block content %}
<div class="row row-title">
    <div class="card card-title card-title-main">
        <div class="row row-blue">
            <h1><i class="fab fa-twitter"></i> Last Trends </h1>
        </div>
        <div class="row plain-element">
            <div class="card card-sentiment visible card-frontpage">
                <div class="card-content text-center">

                    <button class="btn-sentiment" id="flashButton">
                        <b>Bienvenue Dans Last Trends</b>
                        <p> Découvrez les tendances du moment</p>
                    </button>

                </div>
            </div>
        </div>
        <div class="row"></div>
    </div>
</div>
{% endblock %}







