
{% extends 'base.html' %}

{% block content %}
<div class="row row-title">
    <div class="card card-title card-title-main">
        <div class="row row-blue">
            <h1><i class="fab fa-twitter"></i> Last Trends </h1>
        </div>
        <div class="row plain-element">
            <div class="card card-sentiment visible card-frontpage">
                <div class="card-content text-center">
                  <button class="btn-sentiment" >
                      <b>Bienvenue Dans Last Trends</b>
                      <p> Découvrez les tendances du moment</p>
                  </button>
                  </br>
 </div>
                  <div class="row row-form plain-element text-center">
                <div class="input-field col s1"></div>
                <div class="input-field col s4">
                    <img class="img-responsive prefix"
                         src="{{url_for('static', filename='img/paris.jpg')}}"/>
                   <div class="row row-button text-center">
                                        <a class="btn-trends" target="_blank" href="last_trend/newyork">New york
                                            Trends</a>
                   </div>
                </div>
                <div class="input-field col s2"></div>
                <div class="input-field col s4">
                    <img class="img-responsive prefix"
                         src="{{url_for('static', filename='img/paris.jpg')}}"/>
                   <div class="row row-button text-center">
                                        <a class="btn-trends" target="_blank" href="last_trend/paris">Paris
                                            Trends</a>
                   </div>
                     <div class="input-field col s1"></div>

                </div>
                  </div>
             <div class="row row-form plain-element text-center">
                <div class="input-field col s1"></div>
                <div class="input-field col s4">
                    <img class="img-responsive prefix"
                         src="{{url_for('static', filename='img/paris.jpg')}}"/>
                   <div class="row row-button text-center">
                                        <a class="btn-trends" target="_blank" href="last_trend/tokyo">Tokyo
                                            Trends</a>
                   </div>
                </div>
                <div class="input-field col s2"></div>
                <div class="input-field col s4">
                    <img class="img-responsive prefix"
                         src="{{url_for('static', filename='img/paris.jpg')}}"/>
                   <div class="row row-button text-center">
                                        <a class="btn-trends" target="_blank" href="last_trend/seoul">Seoul
                                            Trends</a>
                   </div>
                </div>
             </div>
             <div class="row row-form plain-element text-center">
                <div class="input-field col s1"></div>
                      <div class="input-field col s1"></div>
                <div class="input-field col s4">
                    <img class="img-responsive prefix"
                         src="{{url_for('static', filename='img/paris.jpg')}}"/>
                   <div class="row row-button text-center">
                                        <a class="btn-trends" target="_blank" href="last_trend/sydney">Sydney
                                            Trends</a>
                   </div>
                </div>
                <div class="input-field col s2"></div>
                <div class="input-field col s4">
                    <img class="img-responsive prefix"
                         src="{{url_for('static', filename='img/paris.jpg')}}"/>
                   <div class="row row-button text-center">
                                        <a class="btn-trends" target="_blank" href="last_trend/london">London
                                            Trends</a>
                   </div>
                </div>
             </div>
                  </br>
            </div>
        </div>
        <div class="row"></div>
    </div>
</div>
{% endblock %}







